.header-mini{
    width: 100px;
    height: 100px;
    background: #fcc422;
}
.header-normal{
    width: 50%;
    height: 100px;
    background: #fcc422;
}
.header-maxy{
    width: 100%;
    height: 100px;
    background: #fcc422;
}